<footer class="section footer-minimal context-dark">
      <div class="container wow-outer">
        <div class="wow fadeIn">
          <div class="row row-50 row-lg-60">
            <div class="col-12">
              <a href="index.html">Ma&Me&Pa Family Club : Utopia Hotel</a>
            </div>
            <div class="col-12">
              <ul class="footer-minimal-nav">
                <li><a href="about-us.html">About Us</a></li>
                <li><a href="#">Causes</a></li>
                <li><a href="#">Gallery</a></li>
                <li><a href="#">Team</a></li>
                <li><a href="contacts.html">Contacts</a></li>
              </ul>
            </div>
            <div class="col-12">
              <ul class="social-list">
                <li>
                  <a
                    class="icon icon-sm icon-circle icon-circle-md icon-bg-white fa-facebook"
                    href="https://tr-tr.facebook.com/mamepafamilyclub/"
                  ></a>
                </li>
                <li>
                  <a
                    class="icon icon-sm icon-circle icon-circle-md icon-bg-white fa-instagram"
                    href="https://www.instagram.com/mamepafamilyclub/"
                  ></a>
                </li>
                <li>
                  <a
                    class="icon icon-sm icon-circle icon-circle-md icon-bg-white fa-twitter"
                    href="https://twitter.com/mamepaclub"
                  ></a>
                </li>
                <li>
                  <a
                    class="icon icon-sm icon-circle icon-circle-md icon-bg-white fa-youtube-play"
                    href="https://www.youtube.com/channel/UC-T2SDfmynTMv6uFixHVYlg"
                  ></a>
                </li>
              </ul>
            </div>
          </div>
          <p class="rights">
            <span>&copy;&nbsp;</span><span class="copyright-year"></span
            ><span>&nbsp;</span><span>Helper</span><span>.&nbsp;</span
            ><span>All Rights Reserved.</span
            ><span>&nbsp;</span>Design&nbsp;by&nbsp;<a
              href="https://github.com/erlankg0"
              >Erlan Abdraimov</a
            >
          </p>
        </div>
      </div>
    </footer>