<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'registration/css/admin_login.css' %}">
</head>
<body>
    <div class="box">
        <div class="form">
            <h2>Ma&Me&Pa yönetimi</h2>
            <div class="inputBox">

                <input type="text" required="required" >
                <span>Kullanıcı adı:</span>
                <i></i>
            </div>
            <div class="inputBox">
                <input type="password" required="required">
                <span>Parola:</span>
                <i></i>
            </div>
           <input type="submit" value="Oturum aç">
        </div>
    </div>
</body>
</html>