{% extends 'base2.html' %} {% block content %}
<section
  class="parallax-container bg-gray-600"
  data-parallax-img="images/parallax-img-2.jpg"
>
  <div class="parallax-content section-xxl text-center">
    <div class="container">
      <div class="row justify-content-md-center">
        <div class="col-md-9 col-lg-8 col-xl-8 wow-outer">
          <div class="innset-xl-right-30 innset-xl-left-30">
            <div
              class="wow slideInDown"
              style="visibility: visible; animation-name: slideInDown"
            >
              <h3>Ma&Me&Pa Utopia World Hotel: Регистрация</h3>
              <form action=" {% url 'home' %}" method="post">
                {% csrf_token %}
                {{ form.as_p }}
                
                <div class="form-group row">
                  <div class="col-sm-10">
                    <button type="submit" class="btn btn-primary">
                      Регистрация.
                    </button>
                  </div>
                </div>
              </form>
              <!-- <form method="post" action="/">
                {% csrf_token %}
                <div class="form-group row">
                  <label for="inputChildName" class="col-sm-2 col-form-label"
                    >Имя ребёнка</label
                  >
                  <div class="col-sm-10">
                    <input
                      type="text"
                      class="form-control"
                      id="inputChildName"
                      placeholder="Имя ребёнка"
                    />
                  </div>
                </div>
                <div class="form-group row">
                  <label for="inputChildSurname" class="col-sm-2 col-form-label"
                    >Фамилия ребёнка</label
                  >
                  <div class="col-sm-10">
                    <input
                      type="text"
                      class="form-control"
                      id="inputChildSurname"
                      placeholder="Фамилия ребёнка"
                    />
                  </div>
                </div>
                <div class="form-group row">
                  <label for="inputChildAge" class="col-sm-2 col-form-label"
                    >Возраст</label
                  >
                  <div class="col-sm-10">
                    <input
                      type="number"
                      maxlength="2"
                      class="form-control"
                      id="inputChildAge"
                      placeholder="Возраст"
                    />
                  </div>
                </div>
                <div class="form-group row">
                  <label for="inputAllergy" class="col-sm-2 col-form-label"
                    >Аллергия/Заболевания</label
                  >
                  <div class="col-sm-10">
                    <input
                      type="text"
                      class="form-control"
                      id="inputAllergy"
                      placeholder="Аллергия/Заболевания"
                    />
                  </div>
                </div>
                <div class="form-group row">
                  <label for="inputParentName" class="col-sm-2 col-form-label"
                    >Имя Родителя</label
                  >
                  <div class="col-sm-10">
                    <input
                      type="text"
                      class="form-control"
                      id="inputParentName"
                      placeholder="Имя родителя"
                    />
                  </div>
                </div>
                <div class="form-group row">
                  <label
                    for="inputParentSurname"
                    class="col-sm-2 col-form-label"
                    >Фамилия родителя</label
                  >
                  <div class="col-sm-10">
                    <input
                      type="text"
                      class="form-control"
                      id="inputParentSurname"
                      placeholder="Фамилия родителя"
                    />
                  </div>
                </div>
                <fieldset class="form-group">
                  <div class="row">
                    <legend class="col-form-label col-sm-2 pt-0">
                      Может ли ребёнок покинуть клуб один ?
                    </legend>
                    <div class="col-sm-10">
                      <div class="form-check">
                        <input
                          class="form-check-input"
                          type="radio"
                          name="leave-alone"
                          id="radio-leave-alone1"
                          value="True"
                        />
                        <label
                          class="form-check-label"
                          for="radio-leave-alone1"
                        >
                          Да
                        </label>
                      </div>
                      <div class="form-check">
                        <input
                          class="form-check-input"
                          type="radio"
                          name="leave-alone"
                          id="radio-leave-alone2"
                          value="False"
                        />
                        <label
                          class="form-check-label"
                          for="radio-leave-alone2"
                        >
                          Нет
                        </label>
                      </div>
                    </div>
                  </div>
                </fieldset>
                <div class="form-group row">
                  <label for="inputRoomNumber" class="col-sm-2 col-form-label"
                    >Номер комнаты</label
                  >
                  <div class="col-sm-10">
                    <input
                      type="number"
                      class="form-control"
                      id="inputRoomNumber"
                      maxlength="4"
                      min="1000"
                      max="9999"
                      placeholder="Номер комнаты"
                    />
                  </div>
                </div>
                <div class="form-group row">
                  <label for="birthday" class="col-sm-2 col-form-label"
                    >Дата выезда из отеля.</label
                  >
                  <div class="col-sm-10">
                    <input
                      class="form-control"
                      type="date"
                      id="birthday"
                      name="birthday"
                      placeholder="Дата выезда из отеля."
                    />
                  </div>
                </div>
                <fieldset class="form-group">
                  <div class="row">
                    <legend class="col-form-label col-sm-2 pt-0">
                      Разрешение на видео и фотосъемку.
                    </legend>
                    <div class="col-sm-10">
                      <div class="form-check">
                        <input
                          title="Разрешение на видеосъемку: Я разрешаю вам делать фотографии моего ребенка
                            и использовать их в своих рекламных и материалах для печати или в Интернете."
                          class="form-check-input"
                          type="radio"
                          name="permission-foto1"
                          id="permission-foto1"
                          value="True"
                        />
                        <label class="form-check-label" for="permission-foto1">
                          Да
                        </label>
                      </div>
                      <div class="form-check">
                        <input
                          class="form-check-input"
                          type="radio"
                          name="permission-foto2"
                          id="permission-foto2"
                          value="False"
                        />
                        <label class="form-check-label" for="permission-foto2">
                          Нет
                        </label>
                      </div>
                    </div>
                  </div>
                </fieldset>
                <fieldset class="form-group">
                  <div class="row">
                    <legend class="col-form-label col-sm-2 pt-0">
                      Разрешение на участие в активностях (кружки).
                    </legend>
                    <div class="col-sm-10">
                      <div class="form-check">
                        <input
                          title="Я разрешаю своему ребенку самому посещать семинары в семейном клубе Ma&Me&Pa, использовать соответствующие 
                          материалы / инструменты и проводить свободное время на игровой площадке.
                          ВСЯ ОТВЕТСТВЕННОСТЬ ЛЕЖИТ НА МНЕ."
                          class="form-check-input"
                          type="radio"
                          name="permission-activiti1"
                          id="permission-activiti1"
                          value="True"
                        />
                        <label class="form-check-label" for="permission-activiti1">
                          Да
                        </label>
                      </div>
                      <div class="form-check">
                        <input
                          class="form-check-input"
                          type="radio"
                          name="permission-activiti2"
                          id="permission-activiti2"
                          value="False"
                        />
                        <label class="form-check-label" for="permission-activiti2">
                          Нет
                        </label>
                      </div>
                    </div>
                  </div>
                </fieldset>
                <div class="form-group row">
                  <div class="col-sm-10">
                    <button type="submit" class="btn btn-primary">
                      Регистрация.
                    </button>
                  </div>
                </div>
              </form> -->
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
{% endblock content %}
